<h1> Top visited  Countries in <%= @continent.name %> </h1>

<% @countries.each do |country| %>
<h3> <%= country.name %> </h3>


<h5> Capital: <%= country.capital %> </h5>
<div class="pictures">
    <%= image_tag country.photo %>
</div>

<% end %>
