.show-page{
    height: 100vh;
    background-color: lightblue;
   
}
.photos{
    width:500px;
    height: 400px;
}

.home{
    height: 100vh;
    background: url("https://wallpapercave.com/wp/M0LQ3nk.jpg");

}
.main-div{
   padding-top: 2px;
   padding-left: 650px;
}
/* h1{
   font-size: 40px;
   color: WHITE;

} */
h4{
    font-size: 30px;
    color:black;

}
ul{
    font-size: 30px;
    color: white;
    list-style-type: none;
    padding-left: 650px;
    text-decoration-style:  none;
}
li {
    text-decoration-style:  none;
    color: white;
}


