.show-page{
    height: 100vh;
    background-color: lightblue;
   
}
.photos{
    width:500px;
    height: 400px;
}

.home{
    height: 100vh;
    background-color: #404F24 ;
}
/* h1{
   font-size: 40px;
   color: WHITE;

} */
h4{
    font-size: 30px;
    color: white;

}
ul{
    font-size: 20px;
    color: white;
}
